$profile-pic-border: 0.5rem solid $primary-link-dark-mode;
$profile-pic-border-light-mode: 0.5rem solid $primary-link-light-mode;

.profile-pic {
  height: auto;
  width: auto;

}

body.dark-mode .profile-pic {
  border: $profile-pic-border;
}

body.light-mode .profile-pic {
  border: $profile-pic-border-light-mode;
}
