.socialsIcon {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #ff847c;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.socialsIcon:last-child {
     margin-right: 0;
 }

.socialsIcon:hover {
     background-color: #2f4f4f;
 }

.socialsButton {
    color: black;
}