html {
  height: $page-height;
  width: $page-width;
  line-height: $content-line-height;
  margin: auto;
  font-family: $primary-font
}

body.dark-mode {
  width: 100%;
  background: $primary-black;
  & p {
    color: $primary-text-dark-mode;
    opacity: 60%;
  }
  & h1, & h2, & h3, & h4, & h5 {
    color: $primary-text-dark-mode;
    opacity: 87%;
  }
  & a {
    color: $primary-link-dark-mode;

    &:hover {
      color: $secondary-text-dark-mode;
    }
  }

  & .primary-link {
    color: $primary-link-dark-mode;

    &:hover {
      color: $secondary-text-dark-mode;
      text-decoration: none;
    }
  }

  & .content {
    border: $content-border;
  }

  & .page-header {
    color: $primary-header-dark-mode;
  }

}

body.light-mode {
  width: 100%;
  background: $primary-white;
  & p {
    color: $primary-black;
    opacity: 60%;
  }
  & h1, & h2, & h3, & h4, & h5 {
    color: $primary-black;
    opacity: 87%;
  }
  & a {
    color: $primary-link-light-mode;
    &:hover {
      color: $secondary-text-light-mode;
    }
  }
  & .primary-link {
    color: $primary-link-light-mode;
    &:hover {
      color: $secondary-text-light-mode;
      text-decoration: none;
    }
  }
  & .content {
    border: $content-border-light-mode;
  }

  & .page-header {
    color: $primary-header-light-mode;
  }

}

.content {
  border-radius: $content-border-radius;
  font-family: $primary-font;
}

.page-header {
  padding-top: 0;
  font-size: $page-banner-font-size;
  margin-bottom: 0;
  font-weight: bold;
}

p {
  font-size: $page-paragraph-font-size
}

.inner-heading {
  font-size: $page-inner-heading-font-size;
}

.subheading {
  font-weight: $page-subheading-font-weight;
  font-size: $page-subheading-font-size;
}

.heading {
  font-size: $page-heading-font-size;
  font-weight: bold;
}

@media (max-width: 1000px) {
  p {
    font-size: $page-paragraph-min-font-size;
  }
  .subheading {
    font-size: $page-subheading-min-font-size;
  }
  .heading {
    font-size: $page-heading-min-font-size;
  }
  .inner-heading {
    font-size: $page-inner-heading-min-font-size;
  }
  .page-header {
    font-size: $page-banner-min-font-size;
  }
}

@media (min-width: 1250px) {
  p {
    font-size: $page-paragraph-max-font-size;
  }
  .subheading {
    font-size: $page-subheading-max-font-size;
  }
  .heading {
    font-size: $page-heading-max-font-size;
  }
  .inner-heading {
    font-size: $page-inner-heading-max-font-size;
  }
  .page-header {
    font-size: $page-banner-max-font-size;
  }
}
