$page-error-font-size: 6.75vw;
$page-message-font-size: 3vw;

.error-header {
  color: $primary-dark-green;
  font-size: $page-error-font-size;
}

.error-message {
  font-size: $page-message-font-size;
  color: $primary-red;
}

@media (max-width: 1000px) {
  .error-header {
    font-size: 3.5em;
  }
  .error-message {
    font-size: 1.5em;
  }
}

@media (min-width: 1250px) {
  .error-header {
    font-size: 5em;
  }
  .error-message {
    font-size: 2em;
  }
}