.pageHeader {
    padding-top: 0;
    font-size: 4.5em;
    color: #99b898;
    margin-bottom: 0;
    font-weight: bold;
}

.infolink {
    color: #ff847c;
}

.infolink:hover {
    color: #cc527a;
}

.profilepic {
    height: auto;
    width: auto;
    border: 0.5rem solid #ff847c;
}