button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
  outline:none;

  &:focus {
    outline: 0 !important;
  }
}

body.dark-mode button {
  color: $primary-light-red;
}

body.light-mode button {
  color: $primary-blue;
}
