body.dark-mode {
  & .tableHeadRecord th {
    color: $primary-red;
  }

  & .tableHeadRecord td {
    color: $primary-light-blue;
  }
}

body.light-mode {
  & .tableHeadRecord th {
    color: $primary-gray;
  }

  & .tableHeadRecord td {
    color: $primary-dark-blue;
  }
}

.tableHeadRecord th {
  font-weight: bold;
}


.projects-link {
  list-style-type: none;
  font-size: $page-inner-heading-font-size;
}

@media (max-width: 1000px) {
  .projects-link {
    font-size: 1.1em;
  }
}

@media (min-width: 1250px) {
  .projects-link {
    font-size: 1.5em;
  }
}
