.tableHeadRecord th {
    color: $primary-red;
    font-weight: bold;
}

.tableHeadRecord td {
    color: $primary-light-blue;
}

.projects-link {
    list-style-type: none;
    font-size: $page-inner-heading-font-size;
    color: $primary-red;
}
