body.dark-mode {
  & .table-head-record th {
    color: $primary-text-dark-mode;
  }

  & .table-head-record td {
    color: $primary-active-nav-dark-mode;
  }
}

body.light-mode {
  & .table-head-record th {
    color: $primary-header-light-mode;
  }

  & .table-head-record td {
    color: $secondary-text-light-mode;
  }
}

.table-head-record th {
  font-weight: bold;
}


.projects-link {
  list-style-type: none;
  font-size: $page-inner-heading-font-size;
}

@media (max-width: 1000px) {
  .projects-link {
    font-size: $page-paragraph-min-font-size
  }
}

@media (min-width: 1250px) {
  .projects-link {
    font-size: $page-paragraph-max-font-size
  }
}
