$school-grades-font-size: 0.75em;

.grades {
  font-size: $school-grades-font-size;
}

body.dark-mode .grades {
  color: $secondary-text-dark-mode;
}

body.light-mode .grades {
  color: $secondary-text-light-mode;
}
