$header-font-size: 120%;
$nav-bar-link-font-size: 120%;
$header-link-padding: 0.25em 2em;
$logo-pic-width: 3.5em;
$logo-pic-width-active: 4em;

body.dark-mode {
  .header-wrapper {
    background: $primary-black;
  }
  & #basic-navbar-nav a {
    color: $primary-link-dark-mode;

    &:active, &:focus, &:hover {
      color: $primary-text-dark-mode;
    }
  }
  & .active-link {
    color: $primary-active-nav-dark-mode !important;
  }
}

body.light-mode {
  .header-wrapper {
    background: $primary-white;
  }

  & #basic-navbar-nav a {
    color: $primary-link-light-mode;

    &:active, &:focus, &:hover {
      color: $secondary-text-light-mode;
    }
  }
  & .active-link {
    color: $secondary-text-light-mode !important;
  }
}

.header-wrapper {
  font-size: $header-font-size;
  border-radius: 20px;
}


.logo-wrap img {
  display: inline;
  width: $logo-pic-width;
}

.logo-wrap-active img {
  display: inline;
  width: $logo-pic-width-active;
}

.nav-bar {
  font-size: $header-font-size;
}

.active-link {
  text-decoration: underline !important;
  font-weight: bold;
}
