$header-font-size: 1.7vw;
$nav-bar-link-font-size: 120%;
$header-link-padding: 0.25em 2em;
$logo-pic-width: 3.5em;

#basic-navbar-nav a {
    color: $primary-light-red;

    &:active, &:focus, &:hover {
        color: $primary-red;
    }
}

.headerWrapper {
    background: $primary-black;
    font-size: $header-font-size;
    border-radius: 20px;
}

.logoWrap {
    display: inline;
    width: $logo-pic-width;
}

.navBar {
    font-size: $header-font-size;
}

@media (max-width: 1000px) {
    .navBar {
        font-size: 2em;
    }
}
