@import "../..";
$header-font-size: 1.1em;
$nav-bar-link-font-size: 120%;
$header-background-color: #A8E6CE;
$header-link-padding: 0.25em 2em;
$logo-pic-width: 4.5em;

#basic-navbar-nav a {
    color: $primary-black;

    &:active, &:focus {
        color: #474747;
    }
}

.headerWrapper {
    background: $header-background-color;
    font-size: $header-font-size
}

.logoWrap {
    display: inline;
    width: $logo-pic-width;
}

.navBar {
    color: white;
    font-weight: bold;
    font-size: $nav-bar-link-font-size;
}