// Basic Colours
$primary-black: #000000;
$secondary-black: #2a363b;
$primary-white: #ffffff;

// Dark Mode
$primary-text-dark-mode: #ffffff;
$secondary-text-dark-mode: #018786;
$primary-link-dark-mode: #03DAC6;
$primary-border-dark-mode: #018786;
$primary-active-nav-dark-mode: #A8E6CE;
$primary-header-dark-mode: #99b898;

// Light Mode
$primary-link-light-mode: #007BB3;
$secondary-text-light-mode: #004052;
$primary-header-light-mode: #474747;
