$primary-font: 'Roboto', sans-serif;

$page-title-font-size: 6.5vw;
$page-banner-font-size: 6.5vw;
$page-heading-font-size: 2.9vw;
$page-subheading-font-size: 2.15vw;
$page-inner-heading-font-size: 1.8vw;
$page-paragraph-font-size: 1.7vw;

$page-subheading-font-weight: 500;