@import "theme";
$page-height: 100%;
$page-width: 95%;

$content-border: $primary-border-dark-mode solid 3px;
$content-border-light-mode: $primary-black solid 3px;

$content-border-radius: 20px;

$content-line-height: 1.5;
