html, body {
  height: 100%;
  width: 95%;
  line-height: 1.5;
  background: #2a363b;
  margin: auto;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  min-height: 100%;
  min-width: 100%;
}

p {
  color: #e84a5f;
  font-size: 1.2em;
}

.larger{
  font-size: 1.125em;
}

.largest{
  font-size: 1.25em;
}

.content {
  border: #00FFFF solid 3px;
  border-radius: 20px;
}

.subheading {
  font-weight: 500;
  font-size: 1.5rem;
  color: #e84a5f;
}
