.tech-icons {
  font-size: 350%;
}

body.dark-mode {
  & .work-preference {
    color: $primary-red;
  }
}

body.light-mode {
  & .work-preference {
    color: $primary-dark-blue;
  }
}


.work-preference {
  list-style-type: none;
  font-size: $page-subheading-font-size;
  color: $primary-red;
}

@media (max-width: 1000px) {
  .work-preference {
    font-size: 1.2em;
  }
}

@media (min-width: 1250px) {
  .work-preference {
    font-size: 1.75em;
  }
}
