.tech-icons {
    font-size: 350%;
}

.tech-icons a {
    color: #ff847c;
}

.tech-icons a:hover {
    color: #e84a5f;
    text-decoration: none;
}

.work-preference {
    list-style-type: none;
    font-size: 1.5em;
    color: #e84a5f;
}