.tech-icons {
  font-size: 350%;
}

body.dark-mode {
  & .work-preference {
    color: $primary-text-dark-mode;
  }
}

body.light-mode {
  & .work-preference {
    color: $secondary-text-light-mode;
  }
}


.work-preference {
  list-style-type: none;
  font-size: $page-subheading-font-size;
  color: $primary-text-dark-mode;
}

@media (max-width: 1000px) {
  .work-preference {
    font-size: $page-subheading-min-font-size
  }
}

@media (min-width: 1250px) {
  .work-preference {
    font-size: $page-subheading-max-font-size
  }
}
